<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
</head>
<body>

<header th:fragment="header">
    <h1>Vitajte v Gamestudio</h1>

    <div th:if="${@userController.logged}">
        Prihlásený/á ako: <span th:text="${@userController.loggedUser}"/>
        <a href="/logout">Odhlásiť sa</a>
    </div>

    <div th:if="not ${@userController.logged}">
        Neprihlásený/á. Prosím,
        <a href="/gamestudio">prihláste sa</a>.
    </div>

</header>

<footer th:fragment="footer">
  <hr/>
  Gamestudio ver. TSyst 2002/08.
  Vyvinuté na <a href="https://kpi.fei.tuke.sk">KPI FEI TUKE</a>.
</footer>
</body>

</html>