<!DOCTYPE HTML>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/layoutGamestudio.html}"
        lang="sk">
<head>
<!--    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Stefan Korecko" />
    <link rel="stylesheet"
          href="/css/mines.css"
          media="screen" />-->


    <title>Gamestudio - Minesweeper</title>
</head>

<body>

<main layout:fragment="content">


    <h2>Minesweeper</h2>

    <div class="minesControl">
        <span id="gameStatus"></span>

        <button type="button" id="btToOpenOrMark" class="abutton">Na otváranie</button>
        <button type="button" id="btNewGame" class="abutton">Nová hra</button>
    </div>

    <section id="minesweeperField"></section>


    <section>
        <h3>Najlepšie skóre</h3>
        <table class="scores">
            <thead>
            <tr>
                <th>Poradie</th>
                <th>Meno</th>
                <th>Body</th>
                <th>Dátum a čas hry</th>
            </tr>
            </thead>
            <tbody id="scoresTableBody">
            </tbody>
        </table>
    </section>

    <script type="text/javascript">




    const viewElements = {
        minesweeperField: document.getElementById("minesweeperField"),
        scoresTableBody:  document.getElementById("scoresTableBody"),
        btToOpenOrMark:   document.getElementById("btToOpenOrMark"),
        gameStatus:       document.getElementById("gameStatus")
    }

    fetchAndRenderBestScores("/api/score/minesweeper",viewElements);

    fetchGameFieldAndRenderAll("/minesweeper/json",viewElements);

    function fetchAndRenderBestScores(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Best scores acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(bestScoresData => { //here we process the returned response data in JSON ...
                renderBestScores(bestScoresData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať alebo vykresliť údaje o najlepších skóre. Podrobnosti: " + error;
                viewElements.scoresTableBody.innerHTML =errorMessage;
            });
    }

    function fetchGameFieldAndRenderAll(getJsonUrl,viewElements) {

        fetch(getJsonUrl)  //there may be a second parameter, an object wih options, but we do not need it now.
            .then(response => {      //fetch promise fullfilled (operation completed successfully)
                if (response.ok) {    //successful execution includes an error response from the server. So we have to check the return status of the response here.
                    return response.json(); //we return a new promise with the response data as a js object, constructed from the JSON string in the response
                } else { //if we get server error
                    return Promise.reject(new Error(`Game field acquisition failed. Server answered with ${response.status}: ${response.statusText}.`)); //we return a rejected promise to be catched later
                }
            })
            .then(gameFieldData => { //here we process the returned response data in JSON ...
                renderGameField(gameFieldData, viewElements);
            })
            .catch(error => { ////here we process all the failed promises
                errorMessage = "Nepodarilo sa získať  alebo vykresliť herné pole. Podrobnosti: " + error;
                viewElements.minesweeperField.innerHTML =errorMessage;
            });
    }


    function renderBestScores(bestScoresData, viewElements) {

        const rowCount = bestScoresData.length;

        let html2Render="";

        for(row=0;row<rowCount;row++){
            html2Render+=
                `<tr>
                    <td>${row+1} </td>
                    <td>${bestScoresData[row].username}</td>
                    <td>${bestScoresData[row].points}</td>
                    <td>${bestScoresData[row].playedOn}</td>
                 </tr>
                `;
        }
        viewElements.scoresTableBody.innerHTML=html2Render;
    }

    function renderGameField(gameFieldData, viewElements){


        let html2Render="<table class='minefield'>\n";

        for(let row=0;row<gameFieldData.rowCount;row++){

            html2Render+=" <tr>\n";

            for(let col=0;col<gameFieldData.columnCount;col++){
                html2Render+=
                    `<td class='${getTileClass(gameFieldData.tiles[row][col])}'>
                        <span>
                        ${getTileText(gameFieldData.tiles[row][col])}
                        </span>
                     </td>`;
            }

            html2Render+=" </tr>\n";
        }


        html2Render+="</table>\n";




        viewElements.minesweeperField.innerHTML=html2Render;
    }


    /**
     * Gets the text that may be displayed inside a HTML element representing 1 tile
     * Now public as it is called from the template
     * @param tile - the Tile object the text is extracted from
     * @return the text that may be displayed inside a HTML element representing the Tile tile
     */
    function getTileText(tile){
        switch (tile.state){
            case "CLOSED":
                return "-";
            case "MARKED":
                return "M";
            case OPEN:
                if (tile.value!=undefined) {
                    return ""+tile.value;
                } else {
                    return "X";
                }
            default:
                return "?";
        }
    }

    /**
     * Gets the HTML class of the <code>td</code> element representing the tile
     * Now public as it is called from the template
     * @param tile the Tile object the class is assigned to
     * @return String with the HTML class of the <code>td</code> element representing the Tile tile
     */
    function getTileClass(tile) {
        switch (tile.state) {
            case "CLOSED":
                return "closed";
            case "MARKED":
                return "marked";
            case "OPEN":
                if (tile.value != undefined) {
                    return "open" + tile.value;
                } else {
                    return "mine";
                }
            default:
                return "unknown";
        }
    }

    </script>


</main>


</body>
</html>

<!--Stav k 22/08/19-->
<!--
<body>

<h2>Minesweeper</h2>

<div class="minesControl">
    <span th:if="${@minesweeperController.marking}">
        Prave oznacujes.
        <a  class="abutton" href="/minesweeper/mark">Zmen na otvaranie.</a>
    </span>

    <span th:if="not ${@minesweeperController.marking}">
        Prave otvaras.
        <a  class="abutton" href="/minesweeper/mark">Zmen na oznacovanie.</a>
    </span>


    <a  class="abutton" href="/minesweeper/new">Nova hra</a>

</div>

<div th:utext="${@minesweeperController.fieldAsHtml}"> </div>


&lt;!&ndash;<div th:text="${1+2}"></div>&ndash;&gt;
&lt;!&ndash;<div th:text="${@minesweeperController.getCurrTime()}"></div>&ndash;&gt;
&lt;!&ndash;<div th:text="${@minesweeperController.currTime}"></div>&ndash;&gt;


</body>
-->
